@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

.spinning-wheel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vmax;
    height: 200vmax;
    transform: translate(-50%, -50%);
    background: conic-gradient(
            #F1D302 0deg, #F1D302 22.5deg, #db5757 22.5deg, #db5757 45deg,
            #F1D302 45deg, #F1D302 67.5deg, #db5757 67.5deg, #db5757 90deg,
            #F1D302 90deg, #F1D302 112.5deg, #db5757 112.5deg, #db5757 135deg,
            #F1D302 135deg, #F1D302 157.5deg, #db5757 157.5deg, #db5757 180deg,
            #F1D302 180deg, #F1D302 202.5deg, #db5757 202.5deg, #db5757 225deg,
            #F1D302 225deg, #F1D302 247.5deg, #db5757 247.5deg, #db5757 270deg,
            #F1D302 270deg, #F1D302 292.5deg, #db5757 292.5deg, #db5757 315deg,
            #F1D302 315deg, #F1D302 337.5deg, #db5757 337.5deg, #db5757 360deg
    );
    border-radius: 50%;
    animation: spin 7s linear infinite;
    z-index: 0;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

main {
    background: transparent;
    position: relative; /* Stays above the spinning wheel */
    z-index: 1; /* Make sure it's above the wheel */
    display: flex;
    flex-direction: column;

    position: relative;
    top: 46%;
    transform: translateY(-50%);
}

.title {
    margin: 0;
}

.title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -150px);
}

.info {
    display: flex;
    flex-direction: row;
}

.info h1 {
    font-size: 90px;
    transform: translate(0, 60px);
}

main a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 3px black;
}


.separator {
    position: relative;
    top: 46%;
    transform: translateY(-50%);
}

info {
    text-align: center;
    font-size: 22px;
    font-family: "Ubuntu Mono", monospace;

    font-style: italic;
}

/* SHITASS CURTAINS */
/* SHITASS CURTAINS */
/* SHITASS CURTAINS */

.curtain {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.curtain__wrapper {
    width: 100%;
    height: 100%;
}
.curtain__wrapper input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    top: 0;
    left: 0;
}
.curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--left {
    transform: translateX(0);
}
.curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--right {
    transform: translateX(0);
}

.curtain__panel {
    display: flex;
    align-items: center;
    background: #da0909;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 100vh;
    transition: all 1s ease-out;
    z-index: 2;
}
.curtain__panel--left {
    justify-content: flex-end;
    transform: translateX(-100%);
}
.curtain__panel--right {
    justify-content: flex-start;
    transform: translateX(100%);
}
.curtain__content {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
}
.curtain__content img {
    width: 20%;
}